/*
* Rojun Card Game
*/

/*
= GLOBAL
*/
* {
  vertical-align: middle;
}


// CARDS
$types: (clubs, diamonds, hearts);
$cards: (2, 3, 4, 5, 6, 7, 8, 9, 10, j, q, k, a);

.card {
  width: 127.5px;
  height: 190px;
  background-size: contain;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;

  @each $type in $types {
    &--#{$type} {
      @each $card in $cards {
        &--#{$card} {
          background-image: url('../images/#{$type}/#{$card}.png');
        }
      }
    }
  }

  &--back {
    background-image: url('../images/back/pomegranate.png');
  }
}

// BOARD
.wrapper {
  margin: 20px auto;
  max-width: 640px;
}

.board {
  width: 100%;
  height: 570px;
  background: #0f9d58;
  border-radius: 5px;
  border: 20px solid #0f9d58;

  &__row {
    width: 100%;
    height: 190px;
  }

  &__col {
    width: 50%;
    float: left;
  }
}

// PLAYERS
.player {
  width: 127.5px;
  height: 190px;
  max-height: 100%;
  background-image: url('../images/back/pomegranate.png');
  background-size: contain;
}

.player--3 {
  float: right;
}

.player--2,
.player--4 {
  margin: 0 auto;
}
