/*
* Rojun Card Game
*/

/*
= GLOBAL
*/
* {
  vertical-align: middle;
}


// CARDS
$types: (clubs, diamonds, hearts, spades);
$cards: (2, 3, 4, 5, 6, 7, 8, 9, 10, j, q, k, a);

.card {
  width: 127.5px;
  height: 190px;
  background-size: contain;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;

  @each $type in $types {
    &--#{$type} {
      @each $card in $cards {
        &--#{$card} {
          background-image: url('../images/#{$type}/#{$card}.png');
        }
      }
    }
  }

  &--back {
    background-image: url('../images/back/pomegranate.png');
  }
}

// BOARD
.wrapper {
  margin: 20px auto;
  max-width: 680px;
}

.board {
  width: 100%;
  height: 610px;
  background: #0f9d58;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;

  &__row {
    width: 100%;
    height: 190px;
  }

  &__col {
    width: 50%;
    float: left;
  }
}

// PLAYERS
.player {
  width: 127.5px;
  height: 190px;
  max-height: 100%;
  background-image: url('../images/back/pomegranate.png');
  background-size: contain;
  cursor: pointer;
}

.player__card {
  position: relative;

  .card {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.player--3 {
  float: right;
}

.player--2,
.player--4 {
  margin: 0 auto;
}

// FORM
.form {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
  }

  &__inner {
    display: table-cell;
    vertical-align: middle;
  }

  &__input-wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 350px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
  }

  &__input {
    text-align: center;
    width: 100%;
    background: #eee !important;
  }

  &__button {
    background: #000;
    color: #fff;
    font-weight: bold;
  }
}
